<!DOCTYPE html>
<html ng-app="animationCreator">
	<head>
		<link rel="stylesheet" type="text/css" href="scripts/bootstrap.min.css" />
		<script type="text/javascript" src="scripts/angular.min.js"></script>
		<script type="text/javascript" src="scripts/app.js"></script>
	</head>
	<body ng-controller="AnimationController as ac">
		<div class="image">
			<h2>Filename:</h2>
			<table>
				<tr>
					<td>
						<input type="text" ng-model="ac.imageInput" placeholder="Enter a file name here">
					</td>
					<td>
						<form ng-submit="ac.refreshImage()">
							<input class="btn-primary" type="submit" value="Refresh Image">
						</form>
					</td>
					<td>
						<form ng-submit="ac.resetPage()">
							<input class="btn-primary" type="submit" value="Reset Page">
						</form>
					</td>
				</tr>
			</table>
			<img ng-src={{ac.imagePath}} width="1280" height="720">
		</div>
		<div class="info">
			<h2>Sprite sheet dimensions:</h2>
		</div>
		<div class="image properties">
		
			<table>
				<tr>
					<td>
						Rows: {{ac.rows}} <input type="text" ng-model="ac.rowEntry" size="15" placeholder="Sprites in a row.">
					</td>
					<form ng-submit="ac.setDimensions()">
						<td>
							<input class="btn-primary" type="submit" value="Set Dimensions">
						</td>
					</form>
					<tr>
						<td>
							Columns: {{ac.cols}} <input type="text" ng-model="ac.colEntry" size="15" placeholder="Sprites in a column.">
						</td>
						<form ng-submit="ac.resetEntries()">
							<td>
								<input class="btn-primary" type="submit" value="Reset Entries">
							</td>
						</form>
					</tr>
				</tr>
			</table>
			
			<hr>
		</div>
		<div ng-show="ac.entriesAvailable" class="entry control">
			<form ng-submit="ac.addEntry()">
				<input class="btn-primary" type="submit" value="Add Entry">
			</form>
			<form ng-submit="ac.createOutput()">
				<input class="btn-primary" type="submit" value="Create UV Sets">
			</form>
			<p>For the animation range enter a location starting from the bottom left corner of the sprite. Index starts at 0. Enter as a range or comma separated. Eg: 2-10 or 0,1,3,12</p>
		</div>
		<div ng-repeat="entry in ac.entries" ng-show="ac.entriesAvailable" class="animation entry">
			<p>Name: <input type="text" ng-model="entry.name" size="15" placeholder="Animation name."> Range: <input type="text" ng-model="entry.range" size="15" placeholder="Animation range."></p>
		</div>
		
		<div ng-repeat="entry in ac.entries" ng-show="ac.entriesAvailable" class="animation entry">
			<p>{{entry.name}}: {{entry.range}}</p>
		</div>
		<div class="output">
			<textarea ng-show="ac.outputCreated" readonly="true" rows="5" cols="100">{{ac.output}}</textarea>
		</div>
	</body>
</html>